<div class="sidebar">
    <div class="sidebar-inner">
        <div class="sidebar-avatar">
            <a href="{{@blog.url}}"></a>
        </div> 
        <div id="title">
            <span id="name">{{@blog.title}}</span>
        </div>
        <div id="subtitle">
            <span id="des">{{@blog.description}}</span>
        </div>
         <div class="links">
            <a href="{{@blog.url}}" id="blogLink">My Intro</a>
            <a href="/projects">My Experience</a>
            <!-- <a href="{{@blog.url}}/blog/" id="blogLink">My Blog</a> -->
            <a href="/assets/file/MengchenGao-Resume.pdf" target="_blank">My Resume</a>
        </div>
        <div class="social">
            <ul class="soc">
                <li><a class="soc-github" href="https://github.com/gaomc66" target="_blank"></a></li>
                <li><a class="soc-email1" href="mailto:gaomc66@qq.com" target="_blank"></a></li>
            </ul>
        </div>
        <footer class="site-footer">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
        </footer>
    </div>
</div>